.widget
  .widget-title
    i.fa.fa-tags= '  ' + __('标签')
  .tagcloud
    //- != tagcloud({min_font: 13, max_font: 15, amount: 30 orderL: count})
    for tag in site.tags.toArray()
      a(href='/tags/' + tag.name, title=tag.name, rel= tag.length) #{tag.name}